.primary-btn {
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  color: #38414A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  i,
  img {
    margin-right: 8px;
  }

  svg {
    path {
      stroke: #000;
    }
  }
  .add-icon{
    width: 18px;
    height: 18px;
    path {
      stroke: rgba(56, 65, 74, 1);
    }
  }

  &:hover {
    background: #F59630;
    border-color: #F59630;
    color: #FFF;

    svg {
      path {
        fill: #FFF;
        stroke: #fff;
      }
    }
  }
}

.blue-btn {
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid rgba(41, 87, 164, 1);
  background: rgba(41, 87, 164, 1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-btn {
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #F59630;
  background: #F59630;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-bank-btn {
  display: flex;
  align-items: center;
  color: rgba(56, 65, 74, 0.50);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  /* 142.857% */
}